@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  padding: 0;
  margin: 0px;
  background-color: #d8d4d4;
  font-family: 'Noto Sans JP', sans-serif;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 100%;
  min-height: 50px;
  background-color: #a5a8a4;
  display: flex;
  flex-direction: row;
}

p.initials {
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.3rem;
}

.navItem {
  margin-left: 10px;
  align-self: center;
  text-decoration: none;
  color: #1d2129;
  padding: 5px;
  font-size: 1.1rem;
}

a.navItem {
  border: 1px solid black;
  background-color: #637582;
}

.mainContent {
  margin-left: 50px;
  margin-right: 50px;
}

li a img {
  height: 50px;
  width: auto;
}

ul.icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}
